# Node.js-Module und Logs
node_modules/
npm-debug.log
yarn-error.log

# Temporäre Dateien und Logs
tmp/
coverage/
libpeerconnection.log
testem.log

# IDEs und Editoren
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Systemdateien
.DS_Store
Thumbs.db

# Sensible Daten
service-account.json
.env
