.wrap-half-card {
  width: 100%;
  height: 100%;
}

.half-card-content-box {
  width: 67%;
}

.ellipsis {
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
  overflow: hidden; /* Schneidet überstehenden Inhalt ab */
  text-overflow: ellipsis; /* Zeigt "..." für abgeschnittenen Text an */
}
