<ng-container *ngIf="calendarService.paginatedData$ | async as data">
  <!-- <app-todays-card *ngIf="todayEvents$ | async as todayEvent"
  [todaysCardData]="todayEvent"
    [iconRender]="todayEvent.icon"></app-todays-card> -->
  <app-card
    *ngFor="let event of data"
    [cardData]="event"
    [iconRender]="event.icon"
  ></app-card>
</ng-container>
<app-pagination-button
  [totalItems]="calendarService.totalItems"
  [pageSize]="calendarService.pageSize"
  [currentPage]="calendarService.currentPage"
  (pageChange)="onPageChange($event)"
></app-pagination-button>
