<div class="wavey">
  <h1 class="has-text-primary is-size-4 has-text-weight-semibold">
    Heute ist {{ timeService.getCurrentWeekDay() }} der
    {{ timeService.getCurrentDay() }}
  </h1>
</div>

<ng-container *ngIf="calendarService.todayEvents$ | async as todayData">
  <app-todays-card
    *ngFor="let event of todayData"
    [todaysCardData]="event"
    [iconRender]="event.icon"
  ></app-todays-card>
</ng-container>

<ng-container *ngIf="calendarService.paginatedData$ | async as data">
  <app-card
    *ngFor="let event of data"
    [cardData]="event"
    [iconRender]="event.icon"
  ></app-card>
</ng-container>

<app-pagination-button
  [totalItems]="calendarService.totalItems"
  [pageSize]="calendarService.pageSize"
  [currentPage]="calendarService.currentPage"
  (pageChange)="onPageChange($event)"
></app-pagination-button>
