.full-card {
  width: 470px;
  height: 80px;
  margin: 2.5px;
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  flex-wrap: wrap;
}

.ellipsis {
  width: 320px; /* Breite des Containers */
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
  overflow: hidden; /* Schneidet überstehenden Inhalt ab */
  text-overflow: ellipsis; /* Zeigt "..." für abgeschnittenen Text an */
}
