.space {
  height: 80px;
}
.oval {
  border-style: solid;
  border-color: var(--bulma-primary-25);
  border-radius: 30px;
  width: 60px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bulma-primary-25);
  rotate: 45deg;
}
.content {
  rotate: -45deg;
  margin: 0;
}
