<div class="half-card">
  <!-- Anzeige des SVG, wenn iconType 'svg' ist und iconSvg vorhanden ist -->
  <img
    *ngIf="statData.iconType === 'svg' && statData.icon"
    [src]="'assets/' + statData.icon + '.svg'"
    alt="Icon"
  />
  <!-- Anzeige des Font-Icons, wenn iconType 'font' ist -->
  <span
    *ngIf="statData.iconType === 'font'"
    class="material-symbols-rounded fs-60"
    >{{ statData.icon }}</span
  >
  <div class="pl-10">
    <p class="ellipsis-half">
      <strong *ngIf="statData.applyStrongTag">{{ obsDataContent1 }}</strong>
      <span *ngIf="!statData.applyStrongTag">{{ obsDataContent1 }}</span>
    </p>
    <p class="ellipsis-half">{{ obsDataContent2 }}</p>
  </div>
</div>
