.half-card {
  width: 239px;
  height: 80px;
  margin: 2.5px 0;
  padding: 5px 0 5px 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-content: space-around;
  flex-wrap: wrap;
}

.ellipsis-half {
  width: 145px; /* Breite des Containers */
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
  overflow: hidden; /* Schneidet überstehenden Inhalt ab */
  text-overflow: ellipsis; /* Zeigt "..." für abgeschnittenen Text an */
}
