<div
  class="space is-flex is-flex-direction-column is-align-items-center is-justify-content-center"
>
  <div class="oval has-background-primary">
    <div class="wrapper">
      <!-- Zeigt den Content an, wenn kein Icon vorhanden ist -->
      <div class="content has-background-primary">
        <strong class="is-size-5 has-text-primary-100">
          {{ content }}
        </strong>
      </div>
      <!-- Zeigt das Icon an, wenn es vorhanden ist -->
      <div class="icon">
        <span class="material-symbols-rounded is-size-1 has-text-primary-100">
          {{ icon }}
        </span>
      </div>
    </div>
  </div>
</div>
