.grid-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 14% 58% 28%; /* 3 Spalten */
  grid-template-rows: repeat(7, 14.3% [row-start]); /* Gesamthöhe */
  justify-items: center;
  grid-template-areas:
    "time main swim"
    "weather main swim"
    "weather main half"
    "weather main half"
    "weather main half"
    "weather main half"
    "akku main half";
}

.column-2 {
  border-left: 3px solid #404654;
  border-right: 3px solid #404654;
}

.see {
  border: 1px solid #f7168a; /* for Development */
}
