:host {
  width: 100%;
  overflow: hidden;
}

.wrap-card {
  width: 100%;
  overflow: hidden;
}

.card-border-box {
  width: 67px;
  height: 67px;
  border: solid 2px;
  border-radius: 20px;
}

.card-content-box {
  width: 67%;
}

.ellipsis {
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
  overflow: hidden; /* Schneidet überstehenden Inhalt ab */
  text-overflow: ellipsis; /* Zeigt "..." für abgeschnittenen Text an */
}
