.wrap-card {
  width: 434px;
  height: 82px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.card-border-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: solid 3px;
  border-radius: 20px;
}

.ellipsis {
  white-space: nowrap; /* Verhindert Zeilenumbrüche */
  overflow: hidden; /* Schneidet überstehenden Inhalt ab */
  text-overflow: ellipsis; /* Zeigt "..." für abgeschnittenen Text an */
  font-size: 24px;
  margin-left: 5px;
  width: 320px;
}
