<div class="wrap-card pl-4 has-text-primary is-flex is-align-items-center">
  <div
    class="card-border-box is-flex is-justify-content-center is-align-items-center"
  >
    <app-icon-renderer
      [defaultSvgClass]="'custom-svg-icon'"
      [defaultFontClass]="'custom-font-icon'"
      [sizeClass]="'small-icon'"
      [iconRender]="iconRender"
    ></app-icon-renderer>
  </div>
  <div class="card-content-box pl-3">
    <p class="ellipsis is-size-4">
      <span class="#">
        {{ cardData.day }} {{ cardData.date }} {{ cardData.time }}</span
      >
      <br />
      <span class="is-italic">
        {{ cardData.title }}
      </span>
    </p>
  </div>
</div>
